@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#contenedorSvg{
    display:flex;
    background-color:purple;
    justify-content: center;
}
 #saludo{
    font-family: 'Press Start 2P', cursive;
position: absolute;
margin-top: 17vw;
font-size: 2.8vw;
margin-left: 3vw;
color:rgb(15, 77, 15)
 }



svg{
width:100%;
}
