.st0 {
    fill: #FFFFFF;
}

.st1 {
    fill: #FFD62C;
}

.st2 {
    fill: #A83DB7;
}

.st3 {
    fill: #8C1999;
}

.st4 {
    fill: #284725;
}

.st5 {
    fill: #AF19AF;
}

.st6 {
    fill: #941CA5;
}

.st7 {
    fill: #E205D2;
}

.st8 {
    fill: none;
}

.st9 {
    fill: #101110;
}

.st10 {
    fill: #212321;
}

.st11 {
    fill: #C11B5F;
}

.st12 {
    fill: #F90071;
    stroke: #14040B;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #D4C9D6;
}

.st14 {
    font-family: 'ComicSansMS-Italic';
}

.st15 {
    font-size: 24px;
}

.st16 {
    font-size: 48px;
}



#start:hover {
    fill: brown
}

.pantallaEcendido {
    fill: #16a509;
}